@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --background-1: #0E1015;
  --background-2: #181A20;
  --item: #272A30;
  --red: #DD364D;
  --hover: #353940;
  --blue: #1C9AEF;
}

* {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.App {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-1);
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--hover);
  border-radius: 10px;
}
